<h1 class="queuesystem-title">Nå betjenes</h1>
<span class="odometer"></span>
<span class="view"></span>
<img src="/assets/plugins/queuesystem/images/qr-hiof-no-fredrikstad.svg" class="fredrikstad-qr" />
<img src="/assets/plugins/queuesystem/images/qr-hiof-no-halden.svg" class="halden-qr" />
